<br />
<h1 align="center"><%= @user.email %></h1><br />
<div class="clear">
<div class="row">
  <div align="center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<br />
<div align="center">
  <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
  <h4><%= @user.comments.count %> Total Lessons</h4>
</div>
<br />
<h1 class="text-center">My Clients and Lessons</h1>

<div class="booyah-box col-xs-10 col-xs-offset-1">
<table class="table table-hover">
    <thead>

      <tr>
        <th>Lesson Name</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Skill Level</th>
        <th>Comments/Questions</th>
        <th>Delete<th>
      </tr>
    </thead>

    <tbody>
      <% @user.comments.each do |comment| %>
        <% if comment.lesson.present? %>
          <tr>
            <td><%= link_to comment.lesson.name, lesson_path(comment.lesson) %></td>
            <td> <%= comment.full_name %></td>
            <td><%= comment.phone_number %></td>
            <td><%= comment.email %></td>
              <% if comment.humanized_skill.present? %>
                <td><%= comment.humanized_skill %></td>
              <% end %>
            <td><%= comment.message %></td>
            <td><%= link_to 'Destroy', lesson_comment_path(comment.lesson, comment),
            method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger btn-xs' %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<div class="clear"></div>
<h2 class="text-center">My Lessons</h2>
<% @user.lessons.each do |lesson| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h1><%= link_to lesson.name, lesson_path(lesson) %></h1><br />
    <p><i><%= lesson.description %></i></p><br />
    <p><i class="glyphicon glyphicon-time"></i>&nbsp;<%= lesson.date %> at <%= lesson.time %></p><br />
    <p><i class="glyphicon glyphicon-map-marker"></i>  <%= lesson.location %></p>
    <p>&nbsp; &nbsp; <%= lesson.address %></p><br />

    <% if lesson.user.present? %>
      <small><%= lesson.user.email %></small>
    <% end %>
  </div>

<% end %>
