<h1 align="center"><%= @user.email %></h1><br />
<div class="clear">
<div class="row">
  <div align="center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<br />
<div align="center">
  <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
  <h4><%= @user.comments.count %> Total Lessons</h4>
</div>
<br />
<h1 class="text-center">My Lessons</h1>
<% @user.comments.each do |comment| %>
  <div class="col-xs-12 col-sm-6">
    <div class="text-center">
      <%= link_to comment.lesson.name, lesson_path(comment.lesson) %></h2>
      <p>Name: <%= comment.full_name %></p>
      <p>Phone Number: <%= comment.phone_number %></p>
      <p>Email-address: <%= comment.email %></p>
      <% if comment.humanized_skill.present? %>
        <p>Skill Level: <b><%= comment.humanized_skill %></b></p>
      <% end %>
      <p>Comments/Questions: <%= comment.message %></p><br /><br />
    </div>
  </div>
<% end %>
