<div align= "center">
  <%= will_paginate %>
</div>

<% @lessons.each do |lesson| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h1><%= lesson.name %></h1><br />
    <p><i><%= lesson.description %></i></p><br />
    <p><i class="glyphicon glyphicon-time"></i>&nbsp;<%= lesson.date %> at <%= lesson.time %></p><br />
    <p><i class="glyphicon glyphicon-map-marker"></i>  <%= lesson.location %></p>
    <p>&nbsp; &nbsp; <%= lesson.address %></p><br />
  </div>

<% end %>

<div align= "center">
  <%= will_paginate %>
</div>
