<script type="text/javascript">
         $(function(){
             $(".typing-text").typed({
               strings: ["We've got whatever you need!", "Tennis Lessons", "Platform Tennis Lessons", "Racquet Stringing Services", "Join us Today!"],
               typeSpeed: 50,
             });
         });
</script>

<div class="carousel-inner">
  <%= image_tag 'bg02.jpg', class: 'img-responsive' %>
  <div class="carousel-caption">
    <span class="typing-text"></span>
  </div>
</div>

<div align= "center">
  <%= will_paginate %>
</div>

<% @lessons.each do |lesson| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h1><%= link_to lesson.name, lesson_path(lesson) %></h1><br />
    <p><i><%= lesson.description %></i></p><br />
    <p><i class="glyphicon glyphicon-time"></i>&nbsp;<%= lesson.date %> at <%= lesson.time %></p><br />
    <p><i class="glyphicon glyphicon-map-marker"></i>  <%= lesson.location %></p>
    <p>&nbsp; &nbsp; <%= lesson.address %></p><br />

    <% if lesson.user.present? %>
      <small><%= lesson.user.email %></small>
    <% end %>
  </div>

<% end %>

<div align= "center">
  <%= will_paginate %>
</div>
