<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= @lesson.name %></h1><br />
  <p><i><%= @lesson.description %></i></p><br />
  <p><i class="glyphicon glyphicon-time"></i>&nbsp;<%= @lesson.date %> at <%= @lesson.time %></p><br />
  <p><i class="glyphicon glyphicon-map-marker"></i>  <%= @lesson.location %></p>
  <p>&nbsp; &nbsp; <%= @lesson.address %></p><br />

  <div class="pull-right">
    <% if current_user && current_user == @lesson.user %>
      <%= link_to 'Edit', edit_lesson_path(@lesson), class: 'btn btn-primary' %>
      <%= link_to 'Destroy', lesson_path(@lesson), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<div class="clear"></div>

<!-- Button trigger modal -->
<div class="col-xs-10 col-xs-offset-1">
  <p>Invite Friends! <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Flosantiville-paddle.herokuapp.com%2F&layout=button&mobile_iframe=true&width=61&height=20&appId"
    width="61" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
  <button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
    Sign up!
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign up for this lesson</h4>
      </div>
      <%= simple_form_for @comment, url: lesson_comments_path(@lesson) do |f| %>
      <div class="modal-body">
          <%= f.input :full_name, placeholder: 'John Doe' %>
          <%= f.input :phone_number, placeholder: '(305)123-4567' %>
          <%= f.input :email, placeholder: 'user@domain.com' %>
          <%= f.input :skill_level, as: :select, collection: Comment::SKILL_LEVEL %>
          <%= f.input :message %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Sign Up", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- remove after seeing that comments work. put this code on dashboard -->
<h1>Comments</h1>

<% @lesson.comments.each do |comment| %>
  <div class="col-xs-12 col-sm-6">
      <p>Name: <%= comment.full_name %></p>
      <p>Phone Number: <%= comment.phone_number %></p>
      <p>Email-address: <%= comment.email %></p>
      <% if comment.humanized_skill.present? %>
        <p>Skill Level: <b><%= comment.humanized_skill %></b></p>
      <% end %>
      <p>Comments/Questions: <%= comment.message %></p><br /><br />
  </div>
<% end %>
