<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1><%= @lesson.name %></h1><br />
  <p><i><%= @lesson.description %></i></p><br />
  <p><i class="glyphicon glyphicon-time"></i>&nbsp;<%= @lesson.date %> at <%= @lesson.time %></p><br />
  <p><i class="glyphicon glyphicon-map-marker"></i>  <%= @lesson.location %></p>
  <p>&nbsp; &nbsp; <%= @lesson.address %></p><br />

  <div class="pull-right">
    <% if current_user && current_user == @lesson.user %>
      <%= link_to 'Edit', edit_lesson_path(@lesson), class: 'btn btn-primary' %>
      <%= link_to 'Destroy', lesson_path(@lesson), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<div class="clear"></div>
<%= simple_form_for @comment, url: lesson_comments_path(@lesson) do |f| %>
  <%= f.input :full_name, placeholder: 'John Doe' %>
  <%= f.input :phone_number, placeholder: '(305)123-4567' %>
  <%= f.input :email, placeholder: 'user@domain.com' %>
  <%= f.input :skill_level, as: :select, collection: Comment::SKILL_LEVEL %>
  <%= f.input :message %>
  <%= f.submit "Sign Up", class: 'btn btn-primary' %>
<% end %>

<!-- remove after seeing that comments work. put this code on dashboard -->
<h1>Comments</h1>

<% @lesson.comments.each do |comment| %>
  <div>
    <blockquote>
      <%= comment.full_name %>
      <%= comment.phone_number %>
      <%= comment.email %>
      <% if comment.humanized_skill.present? %>
        <b><%= comment.humanized_skill %></b> -
      <% end %>
      <%= comment.message %>
    </blockquote>
  </div>
<% end %>
